/*-- scss:rules --*/

.reveal .slide-logo {
  top: unset !important;
  bottom: 0 !important;
  left: 12px !important;
  height: 50px !important;
  width: 80px !important;
  max-width: unset !important;
  max-height: unset !important;
}
.slide-number, .reveal.has-logo .slide-number {
  bottom: 0 !important;
  right: 12px !important;
  top: unset !important;
  color: #777777 !important;
}

.reveal .smaller-second-level ul ul {
  font-size: 0.85em;
  line-height: 1.25;
  margin-top: 0.25em;
}
